<div class="container">
  <h1 class="text-center">About Me</h1>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "profile.png", width: "100%" %>
    </div>
    <div class="col-md-8 text-justify">
      <p>Fusce eu lobortis mi, vel mattis dolor. Ut a eleifend nunc. Proin nec ullamcorper ante. Nunc placerat lacus non odio euismod pretium. Integer non malesuada risus, vel lobortis sapien. Donec molestie mollis metus sed auctor. Nunc sit amet urna a nisi iaculis bibendum. Cras bibendum placerat lectus at aliquet. Fusce blandit arcu a sapien egestas sollicitudin. Nam vel ante justo. Ut metus felis, dignissim tempor imperdiet ut, mattis tempor ante. Sed nec dui quam. Aliquam viverra ipsum dui, ac malesuada nisi placerat eget. Maecenas mattis lacus odio, vel finibus eros convallis eu. Integer sagittis elit ut turpis ultrices convallis. Mauris venenatis enim erat, non elementum odio maximus non. </p>
    </div>
  </div>
</div>